* {
    background-color: black;
    color: white;
    font-family: verdana;
    text-align: center;
    margin: 1%;
    padding: 5%;
    scroll-behavior: smooth;
}
body {
    border: 1px solid grey;
    border-radius: 10px;
    float: right;
    max-width: 400px;
    min-width: 300px;
}
h1 {
    border: 1px solid grey;
}
section {
    border: 1px solid grey;
}
h2 {
    border: 1px solid grey;
}
p {
    padding: 1%;
    text-align: left;
    font-size: 100%;
    height: auto;
}
.dedication {
    border: 1px solid grey;
    padding: 5%;
    text-align: left;
}
.quotation {
    border: 1px solid grey;
    padding: 10%;
}
.quote {
    border: 1px solid grey;
    padding: 5%;
}
ul {
    border: 1px solid grey;
    padding: 0%;
    list-style-type: none;
}
li {
    border: 1px solid grey;
    padding: 5% 0%;
    text-align: left;
    font-size: 100%;
    font-weight: bold;
}
.intro {
    padding: 0%;
}
.chapters {
    border: 1px solid grey;
    padding: 0%;
}
.chapter {
    border: 1px solid grey;
    margin: 0%;
    padding: 0%;
    height: auto;
}

.collapsible {
    border: none;
    margin: 0%;
    padding: 5% 2%;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 133%;
    font-weight: bold;
}

.active, .collapsible:hover {
    background-color: dimgrey;
}

.content {
    margin: 0%;
    padding: 0% 1%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
